<div class="header">
  <div class="chat-title">
    <p>techroom1</p>
  </div>
  <div class="end-btn">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="main">
  <div class="contents">
    <div class="chat-property">
      <div class="send-user">
        taku
      </div>
      <div class="send-time">
        2021/02/18(Thr) 18:09:00
      </div>
    </div>
    <div class="chat-message">
      <p>hello,world</p>
    </div>
  </div>
  <div class="contents">
    <div class="chat-property">
      <div class="send-user">
        sam
      </div>
      <div class="send-time">
        2021/02/18(Thr) 18:17:00
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>